// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bus-info {
    line-height: 28px;
    margin-top: 22px;
}
.bus-map {
    height: 200px;
    border-bottom: 2px solid rgb(235, 40, 186);
}